<div class="container" ng-controller="UserListsController">
	
	<div class="row">
		<div class="col-sm-12">
			<h3> Search Users</h3>
			<input type="text" class="form-control" ng-model="userlist_filter">
			<table class="table table-highlight">
				<thead>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Favorite Language</th>
					<!-- <th>Actions</th> -->
				</thead>
				<tbody>
					<tr ng-repeat="user in userslist | filter: userlist_filter track by $index">
						<td ng-bind="user.FirstName"></td>
						<td ng-bind="user.LastName"</td>
						<td ng-bind="user.FavoriteLanguage"</td>
						<!-- <td><button class="btn btn-danger" ng-click="destroyUser(user)">Delete</button></td> -->
				</tbody>
			</table>
		</div>
	</div>
	</div>

</div>